.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about-me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background-color: var(--colour-primary);
  display: grid;
  place-items: center;
}

.about-me img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about-me img:hover {
  transform: rotate(0deg);
}
