header {
  height: 100vh;
  padding-top: 14rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* --- CTA --- */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* --- Socials --- */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  font-size: 1.5rem;
}

/* .header_socials a:active {
  transition: var(--transition);
  transform: scale(0.8);
} */

.header_socials::after {
  content: "";
  width: 1px;
  height: 7rem;
  background-color: var(--colour-primary);
}

.header_socials a:active {
  transition: var(--transition);
  transform: scale(0.9);
}

/* --- ME --- */
.me img {
  background-color: linear-gradient(var(--colour--primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*  --- Scroll down --- */

.scroll_container {
  position: fixed;
  top: 90%;
  right: 3%;
}
.scroll_down a {
  /* position: fixed;
  top: 90%;
  right: 3%; */
  rotate: 90deg;
  font-weight: 300;
  font-size: 1rem;
}

.scroll_icons {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--colour-primary);
  transition: var(--transition);
}

.up_arrow {
  rotate: 90deg;
}

.up_arrow:hover {
  cursor: pointer;
  transition: var(--transition);
}

.up_arrow:active {
  transition: var(--transition);
  transform: scale(0.6);
}

.down_arrow {
  rotate: -90deg;
}

.down_arrow:hover {
  cursor: pointer;
}

.down_arrow:active {
  transition: var(--transition);
  transform: scale(0.6);
}

/*  --- media quires --- */

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }
}
