.work_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* padding: 3rem; */
}

.wrapper_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50%;
}

.skills_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  background: var(--colour-bg-variant);
  padding: 2.25rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  height: max-content;
  gap: 4rem;
  width: 80%;
  min-height: max-content;
  height: 50%;
  font-size: 1rem;
}

.skills_wrapper:hover {
  background: transparent;
  border-color: var(--colour-primary-variant);
  cursor: default;
}

.skills_wrapper h3 {
  color: var(--colour-primary);
}

.skills_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 0px 2.5px var(--colour-bg), 0 5px 10px 0 var(--colour-bg);
  border-radius: 1rem;
  padding: 12.5px 25px;
}

.skills_container h3 {
  font-size: 1.5rem;
}

.skills_content {
}

.skills_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0rem;
}

.skills_details-icon {
  color: var(--colour-primary);
}

.swiper {
  width: 275px;
  /* min-height: max-content; */
  height: 300px;
  transition: var(--transition);
}

.swiper img {
  padding: 5px;
  border-radius: 0.5rem;
}

.mySwiper {
  box-shadow: 0px 0px 2.5px var(--colour-bg), 0 5px 10px 0 var(--colour-bg);
  border-radius: 1px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.swiper:hover {
  cursor: grabbing;
}

.cta_wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding-bottom: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 15px 0 var(--colour-bg);
}

.cta_wrapper h3 {
  color: var(--colour-white);
}

.cta_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.no_hover:hover {
  background: var(--colour-bg-variant);
}

/* .swiper-slide {
  background: 0;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */
